---
title: About Me
linkTitle: About
menu:
  main:
    weight: 10

---

{{< blocks/cover title="About Me" image_anchor="bottom" height="min" >}}

<p class="lead mt-5">My experience and work history.
</p>

{{< /blocks/cover >}}

{{% blocks/lead %}}
<h1 class="text-center">Security Talks</h1>
<h5 class="text-center">Conferences and Workshops</h5>

<br>
<!-- <li>DEF CON 29 - Modern Malware Analysis for Threat Hunters (Assistant)   06/2021 -->

  <table style="width: 100%;">
    <tbody>
    <tr style="line-height: 50px;">
      <td style="text-align:left">DEF CON 29 - <a href='https://forum.defcon.org/node/237331' style="color:orange"><u>Modern Malware Analysis for Threat Hunters (Assistant)</u></td>
      <td style="text-align:right">06/2021</td>
    </tr>
    <tr style="line-height: 50px;">
      <td style="text-align:left">RSA 2021 - <a href='https://www.rsaconference.com/Library/presentation/USA/2021/handson-ransomware-response-and-analysis' style="color:orange"><u>Hands-On: Ransomware Response and Analysis (Assistant)</u></td>
      <td style="text-align:right">05/2021</td>
    </tr>
    <tr style="line-height: 50px;">
      <td style="text-align:left">CircleCityCon 2020 - <a href='https://ccc-cft-2020.busyconf.com/activities/5defd3bf2c636e799e000031' style="color: orange;"><u>Threat Hunting with the Elastic Stack</td>
      <td style="text-align:right">06/2020</td>
    </tr>
    <tr style="line-height: 50px;">
      <td style="text-align:left">CactusCon (Arizona) - <a href='https://www.cactuscon.com/2019-talks-and-workshops/security-operations-with-powershell-core' style="color:orange"><u>Security Operations with PowerShell Core</td>
      <td style="text-align:right">12/2019</td>
    </tr>
    <tr style="line-height: 50px;">
      <td style="text-align:left">BSides Jacksonville - <a href='http://www.securitybsides.com/w/page/141827406/BSidesJacksonville2019' style="color: orange;"><u>Threat Hunting with the Elastic Stack</u></a> -- <a href='https://www.pluralsight.com/courses/bsides-jax-session-09?exp=3' style="color: orange;">(<u>Video!</u>)</a></td>
      <td style="text-align:right">11/2019</td>
    </tr>
    <tr style="line-height: 50px;">
      <td style="text-align:left">Black Hat (Private Workshop) - Threat Hunting with Perched</td>
      <td style="text-align:right">08/2019</td>
    </tr>
    <tr style="line-height: 50px;">
      <td style="text-align:left">BSides Las Vegas - Finding Evil with MITRE ATT&CK and the Elastic Stack</td>
      <td style="text-align:right">08/2019</td>
    </tr>
    <tr style="line-height: 50px;">
      <td style="text-align:left">MDT Working Group - How Microsoft Will MiTM Your Network</td>
      <td style="text-align:right">03/2019</td>
    </tr>
    <tr style="line-height: 50px;">
      <td style="text-align:left">MOCYBER Workshop - Defending America's Sky with the Florida Air National Guard</td>
      <td style="text-align:right">08/2018</td>
    </tr>
    <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    </tr>
    </tbody>
    </table>

{{% /blocks/lead %}}

{{% blocks/lead %}}
<h1 class="text-center">Elasticsearch</h1>
<h5 class="text-center">Aug 2019 - Present</h5>

<br>

I currently work as an Education Architect for <a href="https://www.elastic.co" style="color: purple;"><u>Elastic</u></a> performing security consulting and education primarily in the federal space. I am constantly developing new security curriculum focused around **threat hunting** and **incident response**. Check out some of the courses I've authored here: <a href="https://www.elastic.co/training/private-training" style="color: purple;"><u>Private Training</u></a>.

I also serve as a community manager for the <a href="https://www.meetup.com/Jacksonville-Elasticsearch-Meetup-Group/" style="color: purple;"><u>Jacksonville Elastic Meetup Group</u></a>. 
{{% /blocks/lead %}}


{{< blocks/lead >}}
<h1 class="text-center">Florida Air National Guard</h1>
<h5 class="text-center">Jul 2008 - Present</h5>


<br>

I am also a current member of the Florida Air National Guard. I work as a cyber security analyst and incident responder for the <u>[601st Air Operations Center's](https://www.1af.acc.af.mil/Library/Fact-Sheets/Display/Article/289621/601st-air-and-space-operations-center/)</u> Mission Defense Team.

Experience here includes tools such as Snort, Bro, Elastic, deep packet analysis with Wireshark and tcpdump, and numerous other open-source tools for continuous monitoring and Blue Team operations.

I developed the operational training plan for AFNORTH's cyber security teams focused on air defense mission systems.

{{< /blocks/lead >}}



{{< blocks/lead >}}

<h1 class="text-center">Perched</h1>
<h5 class="text-center">Mar 2019 - Aug 2019</h5>


<br>

Prior to working at Elastic, I worked as a Solutions Engineer for a small startup called <u>[Perched](https://www.elastic.co/blog/welcome-perched-security-training-for-siem-threat-hunting-and-more)</u>. 

Here I was a content contributer and educator of tailored courses for Cyber Security Operators in industry and the Department of Defense. I also performed consulting for Elastic deployments and threat hunting inside the Elastic Stack.

In August 2019, Perched was acquired by Elastic and it's been an awesome journey ever since!

{{< /blocks/lead >}}
