+++
title = "DeVault Security"
linkTitle = "DeVaultSecurity"

+++

{{< blocks/cover title="Welcome to my website: DeVault Security!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/about" >}}">
		About Me <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<p class="lead mt-5">Thoughts and resources on cybersecurity!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
My name is Brandon DeVault, and I've built this site to be a set of cybersecurity resources, personal thoughts, and a collection of my experiences. 

This is a constant work in progress, so please let me know your thoughts! 
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Thoughts!" url="/blog" %}}
Take a look at by blog!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Open-Source!" url="https://github.com/Oofles/devaultsecurity" %}}
This webpage is publicly available on **GitHub**.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow me on Twitter!" url="https://twitter.com/solderswag" %}}
For thoughts, pictures, and nonsense...
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">This is the second Section</h1>
</div>

{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">This is another Section</h1>
</div>

{{< /blocks/section >}}
